body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cart{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.cart-items{
  display:inline-flex;
  margin:20px 10px;
}
.cart-items .right-block{
  padding: 0px 20px;
}
.right-block h6{
  margin-bottom: 0px;
  margin-top: 20px;
}
.navbar{
  height: 2rem;
  width: 100%;
  background-color: white;
  
}
.navbar .addcart{
  height: 40px;
  width: 40px;
  margin-left: 60rem;
}
.navbar .addwishlist{
  height: 40px;
  width: 40px;
}
.cart-items-actions{
  margin-top: 20px;
}
.action-icons h4{
  margin-bottom: 0px;
}

.action-icons{
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
.action-icons:hover{
   cursor: pointer;
}